---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title fw-bold my-5">{{ page.title | escape }}</h1>
  </header>

  {%- if page.title == "Marcus Kan" -%}
  <div class="my-5">
    <figure class="text-center callout">
      <blockquote class="blockquote">
        <p>
          You should be far more concerned with your current trajectory than
          with your current results.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">
        James Clear in <cite title="Source Title">Atomic Habits</cite>
      </figcaption>
    </figure>
  </div>
  <h2>About</h2>

  {%- endif -%}

  <div class="post-content fs-5">{{ content }}</div>
</article>
